.about_us {
  color: #2d3b4e;
  font-size: 13px;
}
.about_us-2 {
  color: #5fb7d4;
}

.conect-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1111px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* color palette */
/* https://colormagic.app/palette/FsxAfHdSfJKiuMQGHinD */
