* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
@font-face {
  font-family: myFirstFont;
  src: local("fonts/Dry Brush.ttf");
}
body {
  padding-top: 100px;
  background-color: #f6f5f4;
  color: #352f3d;
}
a {
  text-decoration: none;
  color: #262a34;
}
ul li {
  margin-right: 20px;
  list-style: none;
}
ul li a {
  margin-right: 20px;
  list-style: none;
  color: #848da2;
  font-weight: 600;
  font-size: 13px;
}
ul li a:hover {
  color: #f44336;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  padding-left: 30px;
}
