* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  outline: transparent;
}
html {
  color-scheme: light dark;
}

body {
  padding-top: 100px;
  background-color: #f6f5f4;
  color: #352f3d;
  line-height: 1.6;
  outline: transparent;
}
a {
  text-decoration: none;
  color: #262a34;
}
ul li {
  margin-right: 20px;
  list-style: none;
}
ul li a {
  margin-right: 20px;
  list-style: none;
  color: #848da2;
  font-weight: 600;
  font-size: 13px;
}
ul li a:hover {
  color: #f44336;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  padding-left: 30px;
}
/* kevin powell defualt */
img,
svg {
  max-width: 100%;
  display: block;
}
.blog-cards {
  width: min(200ch, 100% - 4rem);
  margin-inline: auto;
}
