.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #2d3b4e1c;
  box-shadow: 0px 1px 5px rgba(173, 169, 169, 0.5);
  white-space: nowrap;
  max-width: 100%;
  z-index: 100;
}

.menu-icon {
  background-color: #2d3b4e;
  width: 16px;
  border-radius: 90px;
  padding: 9px;
  cursor: pointer;
}

.conect-1 {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: space-between;
}
.middle_section {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  padding-top: 1px;
}
.coded-chaos {
  margin-bottom: 10px;
  max-width: 80%;
  align-items: center;
}
.right_section,
.left_section {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e9edf1;
}

@media (max-width: 1111px) {
  .conect-1 {
    display: none;
  }

.coded-chaos {
  max-width:50%;
display: flex;
align-items: center;
} }
.latest_heading {
  text-align: start;
}
