.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgb(219, 219, 219);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  max-width: 100%;
}

.menu-icon {
  background-color: black;
  width: 18px;
  border-radius: 90px;
  padding: 9px;
  cursor: pointer;
}

.conect-1 {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: space-between;
}
.middle_section {
  max-width: 300px;
  align-items: center;
  padding-top: 1px;
}
.coded-chaos {
  font-family: dry brush;
  font-size: 45px;
  color: black;
}
.right_section,
.left_section {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

@media (max-width: 1111px) {
  .conect-1 {
    display: none;
  }
}
