.blog-block {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.7s;
}
.thumbnail {
  border-radius: 8px;
  width: 500px;
  border: none;
}
.heading {
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
  line-height: 26px;
  margin-left: 10px;
}
.date-comment {
  color: #848da2;
  font-size: 10px;
  margin-top: 15px;
  line-height: 26px;
  margin-left: 10px;
  font-weight: 700;
}
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  padding-top: 30px;
  column-gap: 30px;
}

.page_number {
  color: #5fb7d4;
}
.page_number:hover {
  color: #f44336;
}
.page,
.page_list {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page_number {
  font-weight: 800;
}
.older_page {
  background-color: #e9b767;
  border: none;
  color: white;
  font-weight: 800;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}
.blog-block:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* blog-page */
.main-inside {
  width: min(150ch, 100% - 15rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner {
  border-radius: 10px;
  width: 1400px;
  margin-top: 20px;
}

.date-time-pic {
  width: min(200ch, 100% - 20rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}
.image-and-time {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tag {
  background-color: #e9b767;
  color: white;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}
.uploder {
  border-radius: 80px;
}
.sub-heading {
  color: rgb(69, 75, 85);
}
.data-when-where {
  color: #848da2;
}
.share-button {
  border: 1px solid #262a34;
  width: 40px;
  align-self: flex-start;
  margin-left: 300px;
}

.post-desc {
  color: #2d3b4e;
  font-weight: 500;
}
.list-1 {
  line-height: 35px;
  list-style: circle;
  color: #495b6f;
}
.list-res {
  list-style: disc;
}
.banner-2 {
  width: 900px;
}

.share-btn {
  position: fixed;
  top: 50%;
  margin-left: 20px;
  transform: translateY(-50%);
}
.share-btn a img {
  display: block;
  padding: 10px;
  width: 30px;
  background-color: #fffbfb;
  border: 2px solid #b3bfcc;
  border-radius: 80px;
  margin-top: 12px;
}

.about_us-2:hover {
  color: #f44336;
  cursor: pointer;
}

.page-old-new {
  margin-top: 60px;
}
.tag-more,
.tag-more-1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  color: #2d3b4e;
}
.new-tag-color {
  color: #2d3b4e;
  text-transform: uppercase;
  font-weight: 700;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.user-info-uploder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share,
.facebook,
.whatsapp,
.reddit,
.instagram {
  transition: transform 0.2s;
  box-shadow: 0 1px 5px rgb(179, 191, 204, 0.9);
}
.share :hover,
.facebook :hover,
.whatsapp :hover,
.reddit :hover,
.instagram:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.post-desc {
  width: 70%;
}
.user-data {
  width: min(200ch, 100% - 20rem);
  margin-top: 20px;
}
.user-info {
  color: #848da2;
  margin-top: 20px;
}
.uploder-2 {
  border-radius: 80px;
  margin-top: 20px;
}
@media (max-width: 1111px) {
  .tag-more-1 {
    display: none;
  }
  .date-time-pic {
    width: min(200ch, 100% - 2rem);
  }
  .user-info-uploder,
  .user-data,
  .user-info {
    width: min(200ch, 100% - 5rem);
    margin-left: 24px;
  }
  .main-inside {
    align-items: center;
    width: min(200ch, 100% - 2rem);
  }
  .share-btn {
    display: none;
  }
  .post-desc {
    width: min(200ch, 100% - 2rem);
  }
}
